@using CinemasOfSity.Models.DataList;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using System;

@model DataBox;

@{
    double opacity = 0;
    double opacityMax = 0.08;
    int temp = 0;
    string updateSuccessMessage = "Данные успешно обновлены!";
    string updateFailureMessage = "При обновлении данных возникла ошибка.";
    string deleteSuccessMessage = "Данные успешно удалены!";
    string deleteFailureMessage = "При удалении данных возникла ошибка.";
}

<form id="@Model.IdDataBox" data-ajax="true" data-ajax-update="#@Model.UpdateTagId" data-ajax-url="@Model.ButtonToUpdate.Action" data-ajax-success="MessageBoxOpen('@updateSuccessMessage')" data-ajax-failure="MessageBoxOpen('@updateFailureMessage')" class="dataBox">
    <input type="hidden" name="page" value="@Model.PageNumber"/>
    <input type="hidden" name="Id" value="@Model.IdItem"/>
    @if (Model.ButtonToUpdate != null || Model.ButtonToDelete != null)
    {
        <div class="dataBox-buttonGroup top">
            @if (Model.ButtonToUpdate != null)
            {
                <input type='submit' class='page-button' value='@Model.ButtonToUpdate.Title' />
            }
            @if (Model.ButtonToDelete != null)
            {
                <a data-ajax="true" data-ajax-url='@Model.ButtonToDelete.Action' data-ajax-update="#@Model.UpdateTagId" data-ajax-success="MessageBoxOpen('@deleteSuccessMessage')" data-ajax-failure="MessageBoxOpen('@deleteFailureMessage')" class='page-button'>@Model.ButtonToDelete.Title</a>
            }
        </div>
    }
    <div class="dataBox-body">
        @{
            int rowNumber = 1;
        }
        @foreach (List<TitleContentPair> row in Model.TitleContentRows)
        {
            if (row.Count == 1) temp = 0;
            if (temp % 2 == 0)
            {
                opacity = 0;
                opacityMax = Math.Abs(opacityMax);
            }
            else
            {
                opacity = Math.Abs(opacityMax);
                opacityMax = -Math.Abs(opacityMax);
            }

            TagBuilder dataBoxRow = new TagBuilder("div");
            dataBoxRow.Attributes.Add("class", "dataBox-row");
            dataBoxRow.Attributes.Add("id", $"{Model.IdDataBox}-row{rowNumber}");

            TagBuilder rowTitles = new TagBuilder("div");
            dataBoxRow.InnerHtml.AppendHtml(rowTitles);
            rowTitles.Attributes.Add("class", "dataBox-row-titles");

            TagBuilder rowContents = new TagBuilder("div");
            dataBoxRow.InnerHtml.AppendHtml(rowContents);
            rowContents.Attributes.Add("class", "dataBox-row-contents");

            int inputNumber = 1;

            foreach (TitleContentPair item in row)
            {
                string opacityString = opacity.ToString(System.Globalization.CultureInfo.GetCultureInfo("en-US"));

                TagBuilder dataBoxTitle = new TagBuilder("div");
                rowTitles.InnerHtml.AppendHtml(dataBoxTitle);
                dataBoxTitle.Attributes.Add("class", "dataBox-title");
                dataBoxTitle.Attributes.Add("style", $"background-image: linear-gradient(rgba(255, 255, 255,{opacityString}), rgba(255, 255, 255,{opacityString}))");
                dataBoxTitle.InnerHtml.AppendHtml(Html.Raw($"<p>{item.Title}</p>"));

                TagBuilder dataBoxContent = new TagBuilder("div");
                rowContents.InnerHtml.AppendHtml(dataBoxContent);
                dataBoxContent.Attributes.Add("class", "dataBox-content");
                dataBoxContent.InnerHtml.AppendHtml(Html.Raw(item.Input));

                opacity += opacityMax;
                opacityMax *= -1;
                inputNumber++;
            }
            temp++;
            rowNumber++;
            @dataBoxRow
        }
    </div>
    @if (Model.ButtonAdditionalFirst != null || Model.ButtonAdditionalTwo != null)
    {
        <div class="dataBox-buttonGroup bottom">
            @if (Model.ButtonAdditionalFirst != null)
            {
                <a class='page-button' href='@Model.ButtonAdditionalFirst.Action'>@Model.ButtonAdditionalFirst.Title</a>
            }
            @if (Model.ButtonAdditionalTwo != null)
            {
                <a class='page-button' href='@Model.ButtonAdditionalTwo.Action'>@Model.ButtonAdditionalTwo.Title</a>
            }
        </div>
    }
</form>